<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-nav-style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/episodios.css">
    <link rel="shortcut icon" href="/image/siteicon.png" type="image/x-icon">
    <script src="/javaScript/index.js" type="module" defer></script>
    <title>Episódios</title>
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h1 id="titulo">Episódios</h1>
        <div class="episodios">
            <% episodios.forEach(function(episodio) { %>
                <div class="card" style="background-image: url('<%= episodio.imgUrl %>');">

                    <div class="card-text"></div>
                    
                    <div class="card-img-link">
                         <h2><%= episodio.titulo %></h2>
                        <a href="/episodio/<%= episodio._id %>">Assistir Episódio</a>

                        <p>Data de Criação: <%= episodio.dataCriacao.toLocaleDateString() %></p>
                        
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>