<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/episodios.css">
    <link rel="stylesheet" href="/css/header-nav-style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/javaScript/index.js" type="module" defer></script>
    <title>Epis贸dios</title>
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h1 id="titulo">Epis贸dios</h1>
        <div class="episodios">
            <% episodios.forEach(function(episodio) { %>
                <div class="card">
                    <div class="card-text">
                        <h2><%= episodio.titulo %></h2>
                        <p><%= episodio.descricao %></p>
                    </div>
                    <div class="card-img-link">
                        <img src="<%= episodio.imgUrl %>" alt="Imagem do epis贸dio" style="max-width: 100%; height: auto;">
                        <a href="/episodio/<%= episodio._id %>">Assistir Epis贸dio</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
  